// app global css in SCSS form

.button-default {
  height: 50px !important;
}

.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

h3.q-timeline__heading-title {
  font-size: 24px;
  padding: 10px 0;
}


.fade-global-enter-active, .fade-global-leave-active {
  transition: opacity .25s;
}
.fade-global-enter, .fade-global-leave-to {
  opacity: 0;
}
